// Color
$blackColor: #1c1d1f;
$grayColor: #6a6f73;
$yellowLightColor: #eceb98;
$orangeLightColor: #f3ca8c;
$browColor: #b4690e;
$shadowColor: #d1d7dc;
$whiteColor: #ffffff;
$purpleDarkColor: #5624d0;
$purpleMediumColor: #a435f0;
$purpleLightColor: #cec0fc;
